@charset "utf-8";
* {
	margin: 0;
	padding: 0
}

body {
	font-family: '微软雅黑', '黑体', serif, '宋体';
	color: #4d6287;
	font-size: 14px;
	background: #191c2c;
	overflow: hidden;
	height: 100%;
}
body a:hover{
	text-decoration:none;
	outline: 0;
}

dd,
div,dt,li,span {
	font-family: '微软雅黑'
}

li {
	list-style-type: none
}

img {
	border: none
}

/*栅格布局*/

.col-md-2,.col-md-3,.col-md-9,.col-md-10,.col-md-12{padding-left: 0!important;padding-right: 0!important;}
.row{margin-right: 0!important;}