*{
  padding: 0;
  margin: 0;
}
img{
    border: 0;
}
a{
  -decoration: none;
  color: #FFFFFF;
}
a:focus,a:hover{-decoration: none!important;color: #FFFFFF;}
.btn-default:hover{background: none;outline: none;}

li{
	list-style: none;
}
.list-inline>li{padding: 0!important;}
.list-inline{margin-left: 0!important;}
ul{margin-bottom: 0px!important;}

body{
    margin: 0;
    font-family: "微软雅黑";
}

.left{
	display: inline-block;
	float: left;
}
.right{
	display: inline-block;
	float: right;
}

/*共用头部和底部*/
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar{
	background-color: #4D453B;
	height: 65px;
}

.navbar-brand img{margin-top: 5px!important;}

.navbar-{
	font-size: 22px;
	color: #FFFFFF!important;
	line-height: 35px!important;
}

/*加载分页*/
.more{
	text-align: center;
	color: white;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	background-color: #C01923;
	margin-bottom: 15px;
}

.nothing{
	text-align: center;
	color: #000000;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	background-color: white;
	margin-bottom: 15px;
}

/*共用logo*/
.logo{margin-top: 65px;}
.logo .row img{width: 100%;height: auto;}

.row{margin: 0px !important;}/*修改自带的CSS_K*/
.container{padding: 0!important;}
.col-xs-1{padding: 0!important;}
.col-xs-2{padding: 0!important;}
.col-xs-3{padding: 0!important;}
.col-xs-4{padding: 0!important;}
.col-xs-5{padding: 0!important;}
.col-xs-6{padding: 0!important;}
.col-xs-7{padding: 0!important;}
.col-xs-8{padding: 0!important;}
.col-xs-9{padding: 0!important;}
.col-xs-10{padding: 0!important;}
.col-xs-11{padding: 0!important;}
.col-xs-12{padding: 0!important;}



/*距离头部*/
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt70{padding-top: 70px;}
.pt80{padding-top: 80px;}
.pt90{padding-top: 90px;}
.pt100{padding-top: 100px;}

.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt70{margin-top: 70px;}
.mt80{margin-top: 80px;}
.mt90{margin-top: 90px;}
.mt100{margin-top: 100px;}

/*距离底部*/
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pb70{padding-bottom: 70px;}
.pb80{padding-bottom: 80px;}
.pb90{padding-bottom: 90px;}
.pb100{padding-bottom: 100px;}

.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}
.mb70{margin-bottom: 70px;}
.mb80{margin-bottom: 80px;}
.mb90{margin-bottom: 90px;}
.mb100{margin-bottom: 100px;}

/*距离右边*/
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pr60{padding-right: 60px;}
.pr70{padding-right: 70px;}
.pr80{padding-right: 80px;}
.pr90{padding-right: 90px;}
.pr100{padding-right: 100px;}

.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right: 50px;}
.mr60{margin-right: 60px;}
.mr70{margin-right: 70px;}
.mr80{margin-right: 80px;}
.mr90{margin-right: 90px;}
.mr100{margin-right: 100px;}

/*距离左边*/
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px;}
.pl60{padding-left: 60px;}
.pl70{padding-left: 70px;}
.pl80{padding-left: 80px;}
.pl90{padding-left: 90px;}
.pl100{padding-left: 100px;}

.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}
.ml60{margin-left: 60px;}
.ml70{margin-left: 70px;}
.ml80{margin-left: 80px;}
.ml90{margin-left: 90px;}
.ml100{margin-left: 100px;}


/*距离上下*/
.ptb10{padding: 10px 0;}
.ptb20{padding: 20px 0;}
.ptb30{padding: 30px 0;}
.ptb40{padding: 40px 0;}
.ptb50{padding: 50px 0;}
.ptb60{padding: 60px 0;}
.ptb70{padding: 70px 0;}
.ptb80{padding: 80px 0;}
.ptb90{padding: 90px 0;}
.ptb100{padding:100px 0;}

.mtb10{margin: 10px 0;}
.mtb20{margin: 20px 0;}
.mtb30{margin: 30px 0;}
.mtb40{margin: 40px 0;}
.mtb50{margin: 50px 0;}
.mtb60{margin: 60px 0;}
.mtb70{margin: 70px 0;}
.mtb80{margin: 80px 0;}
.mtb90{margin: 90px 0;}
.mtb100{margin:100px 0;}

/*距离左右*/
.prl10{padding: 0 10px;}
.prl20{padding: 0 20px;}
.prl30{padding: 0 30px;}
.prl40{padding: 0 40px;}
.prl50{padding: 0 50px;}
.prl60{padding: 0 60px;}
.prl70{padding: 0 70px;}
.prl80{padding: 0 80px;}
.prl90{padding: 0 90px;}
.prl100{padding: 0 100px;}

.mrl10{margin: 0 10px;}
.mrl20{margin: 0 20px;}
.mrl30{margin: 0 30px;}
.mrl40{margin: 0 40px;}
.mrl50{margin: 0 50px;}
.mrl60{margin: 0 60px;}
.mrl70{margin: 0 70px;}
.mrl80{margin: 0 80px;}
.mrl90{margin: 0 90px;}
.mrl100{margin: 0 100px;}

