<% include header.ejs%>

<div id="add" class="lookjq"><img src="../../public/admin/images/ajaxloading1.gif" />提交，请稍等…</div>
<table class="body-table" cellpadding="0" cellspacing="1" border="0">
	<tr>
		<td class="body-table-td">
			<form action="?oid=<%= arg.oid%>&_t=seach" method="post">
				<div class="body-table-div">
					<div class="handle-btns img-b">